Repository cloudfoundry/java-buildpack, pull requests merged in 2022-01, with the labels that each got.

#926 Add Luna API shared library to library path for Java 9+
  lib/java_buildpack/framework/luna_security_provider.rb
  spec/java_buildpack/framework/luna_security_provider_spec.rb
Labels: bug, framework

#927 Bump Skywalking agent to use latest available version
  config/sky_walking_agent.yml
  lib/java_buildpack/framework/sky_walking_agent.rb
  spec/fixtures/stub-skywalking-agent.tar.gz
  spec/java_buildpack/framework/sky_walking_agent_spec.rb
Labels: framework, dependencies

#930 Bump release notes links for Java & Yourkit
  rakelib/versions_task.rb
Labels: documentation
